body {
    background-image: url('https://cdn.pixabay.com/photo/2012/07/06/20/23/excavators-51665_1280.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: coral;
}